---
import MainLayout from '../layouts/Layout.astro'
---

<MainLayout>
	<div class="flex flex-col justify-center">
		<!-- <section class="flex justify-center items-center bg-cover h-[500px] bg-right" style="background-image: url('/src/imgs/dough-ball.jpeg');"> -->
		<!-- 	<div class="border h-44 w-[600px] bg-gray-800 bg-opacity-60 rounded-xl flex items-center justify-center text-white text-3xl"> -->
		<!-- 		<span class="opacity-100">Your Company Name</span> -->
		<!-- 	</div> -->
		<!-- </section> -->
		<!-- <section id="about" class="flex flex-col items-center md:flex-row border p-6 space-y-4 md:space-y-0 md:space-x-4"> -->
		<!-- 	<img src="/path/to/your/about-image.jpg" alt="About image" class="w-full md:w-1/2 h-64 object-cover"> -->
		<!-- 	<div class="w-full md:w-1/2 flex flex-col justify-center"> -->
		<!-- 		<p>Your company description and other details go here...</p> -->
		<!-- 	</div> -->
		<!-- </section> -->
		<section class="mx-8 pt-8 space-y-4">
			<h1 class="flex justify-center text-3xl font-semibold mb-4">Our Menu</h1>
			<h2 class="flex justify-center text-center text-xl">Navajo tacos come with toppings: cheese, lettuce, onion, tomato, and sourcream.</h2>
			<h2 class="flex justify-center text-xl">Utensils available.</h2>
		</section>
		<section id="menu" class="mx-auto sm:w-2/3 p-6 grid sm:grid-cols-2 md:grid-cols-3 gap-4">
			<div class="border border-black flex flex-col space-y-4 py-4 relative items-center justify-center px-8">
				<img src="../src/imgs/navajo-taco.jpg" class="h-2/3 rounded" alt="Menu item Navajo Taco">
				<h2 class="text-lg">Navajo Taco - $12</h2>
				<p>Home made chili, frybread, with choice of toppings. Comes with Drink</p>
			</div>
			<div class="border border-black flex flex-col space-y-4 py-4 items-center justify-center px-8">
				<img src="../src/imgs/dough-ball.jpeg" alt="Menu item Frybread">
				<h2 class="text-lg">Frybread - $2</h2>
				<p>Simple and delicious, fried bread.</p>
			</div>
			<div class="border border-black flex flex-col space-y-4 py-4 items-center justify-center px-8">
				<img src="/path/to/your/menu-item-1.jpg" alt="Menu item Drinks">
				<h2 class="text-lg">Soda/Water - $2</h2>
				<p>Pepsi, Diet Pepsi, Coke, Diet Coke, and Water</p>
			</div>
			<!-- <div class="border border-black flex flex-col items-center justify-center px-8 h-72"> -->
			<!-- 	<img src="/path/to/your/menu-item-1.jpg" alt="Menu item 1"> -->
			<!-- 	<h2 class="text-lg">Desert Chips</h2> -->
			<!-- 	<p>Description for menu item 4...</p> -->
			<!-- </div> -->
			<!-- <div class="border border-black flex flex-col items-center justify-center px-8 h-72"> -->
			<!-- 	<img src="/path/to/your/menu-item-1.jpg" alt="Menu item 1"> -->
			<!-- 	<h2 class="text-lg">Menu item 5</h2> -->
			<!-- 	<p>Description for menu item 5...</p> -->
			<!-- </div> -->
			<!-- <div class="border border-black flex flex-col items-center justify-center px-8 h-72"> -->
			<!-- 	<img src="/path/to/your/menu-item-1.jpg" alt="Menu item 1"> -->
			<!-- 	<h2 class="text-lg">Menu item 6</h2> -->
			<!-- 	<p>Description for menu item 6...</p> -->
			<!-- </div> -->
		</section>
	</div>
</MainLayout>
