<header class="flex sm:flex-row flex-col sm:justify-between justify-center items-center sm:px-24 py-6 bg-teal-500">
	<div class="">
		<img src="../src/imgs/cheiifry.png" class="h-16 rounded-full" alt="Menu item Navajo Taco">
	</div>
		<!--     <div class="flex flex-col items-center justify-center text-white"> -->
		<!-- <h3 class="text-3xl font-semibold">Cheii's Frybread</h3> -->
		        <!-- <img src="/path/to/your/logo.png" alt="Logo" class="h-8 w-auto"> -->
		<!--     </div> -->
    <nav class="sm:flex space-x-4 hidden">
        <a href="/" class="text-white hover:text-gray-200">Home</a>
        <!-- <a href="#about" class="text-white hover:text-gray-200">About</a> -->
        <a href="#menu" class="text-white hover:text-gray-200">Menu</a>
		<a href="sms:+14352162674" class="text-white hover:text-gray-200">Text Us!</a>
    </nav>
</header>
